<div id='user-bar'>
  <h3>hello 'user name'!</h3>
  <p>play your games, and check your level...</p>
  <br>
</div>
<div class="grid-container">
    <div class="marks">marks</div>
    <div class="properties">properties to edit</div>  
    <div class="grid-container-2">
        <div class="lesson-a"><a class="nav-link"  routerLink="/levels/step-1/lesson11">lesson 1</a></div>
        <div class="lesson-a"><a class="nav-link"  routerLink="/levels/step-1/lesson12">lesson 2</a></div>
        <div class="lesson-a">3</div>  
        <div class="lesson-a">4</div>
        <div class="lesson-a">5</div>
        <div class="lesson-a">6</div>
        <div class="lesson-a">7</div>
        <div class="lesson-a">8</div>
        <div class="lesson-a">9</div>  
      </div>
</div>