<div class="row">
    <div class="column">
      <div class="card">
        <img src="img1.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Yaffa Waldenberg</h2>
          <p class="title">CEO &amp; Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@example.com</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="img2.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Moria Segal</h2>
          <p class="title">CEO &amp; Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@example.com</p>
        </div>
      </div>
    </div>
</div>
<p><a routerLink="/contact-us" class="button">contact us</a></p>
