#div-article {
  width:100%;
  background-color: #91DB41;
  height: 660px;
  text-align: center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }

  /* 4 columns side by side */
.column {
  float: left;
  width: 17%;
  margin-bottom: 16px;
  padding: 0 8px;
  height: 350px;
}

.row {
  padding: 5%;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  /* box-shadow: 0 4px 8px 0 rgb(248, 247, 247); */
  background: rgba(253, 253, 253, 0.1);
  border: none;
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}