<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="width:100%;background-color: #4DC1D6;height: 650px;">
  <app-login-button></app-login-button>>
</div>
<div id="div-article">
  <br>
  <h5>if you want to dippen your knowledge, take a look on the articles below...</h5>
  <a routerLink="/articles">articles</a>
  <div class="row">
      <div class="column">
          <div class="card">
            <img src="../../assets/pictures/java-icon.png" alt="Mike" style="width:100%">
            <div class="container">
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <div class="col"><a routerLink="/article-java">java</a></div>
            </div>
          </div>
        </div>
    <div class="column">
      <div class="card">
        <img src="../../assets/pictures/sql-icon.png" alt="Jane" style="width:100%">
        <div class="container">
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <div class="col"><a routerLink="/article-sql">sql</a></div>
        </div>
      </div>
    </div>  
    <div class="column">
      <div class="card">
        <img src="../../assets/pictures/web-icon.png" alt="Mike" style="width:100%">
        <div class="container">
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <div class="col"><a routerLink="/article-web">web</a></div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="../../assets/pictures/c-icon.png" alt="Mike" style="width:100%">
        <div class="container">
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <div class="col"><a routerLink="/article-c">c#</a></div>
        </div>
      </div>
    </div>
</div>
</div>
<div style="width:100%;background-color: #FDFFFE;height: 680px;">
  <app-pictures-bar></app-pictures-bar>
</div>
<div style="width:100%;background-color: #FDFFFE;height: 800px;">
  <img src="../../assets/pictures/about-img.png" style="width:100%">
  <img src="../../assets/pictures/about-img-2.png" style="width:100%">
</div>
<div style="width:100%;background-color: #F93434;height: 350px;">  
   <div class="row">
      <div class="col"><a routerLink="/about">about us</a></div>
      <div class="col"><a routerLink="/terms-use">Terms of Use</a></div>
      <div class="col"><a routerLink="/staff">our staff</a></div>
    </div>
    <div class="row">
        <div class="col"><a routerLink="/contact-us">contact us</a></div>
        <div class="col"><a routerLink="/privacy">privacy terms</a></div>
        <div class="col">
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-linkedin"></a>
          <a href="#" class="fa fa-youtube"></a>
        </div>
      </div>
</div>
